html {
    height: 100%;
    width: 100%;
}
body {
  /* Margin bottom by footer height */
  height: 100%;
  width: 100%;
  font-family: 'Athiti', serif;
  color : black;
     background-color: #DCDCDC;
  padding-top : 51px;
overflow-y:scroll;
}

body.modal-open {
    /*overflow: auto !important;*/
    overflow-y:scroll!important;

    padding-right: 0 !important;

}
.navbar {
padding-right: 0px !important;
}
.navbar a
{
    font-weight: bold;
}

#btnco /* bouton de connexion pour tablette */
{
  display: none;
}
a /* soulgnement lien */
{
  text-decoration:none;
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}
.container /* conteneur bootstrap general */
{
  width : 80%;
border-left: 1px solid #cecece;
border-right: 1px solid #cecece;
border-bottom: 1px solid #cecece;
}


.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;

}
/*  alert */
.alert {
  padding: @alert-padding;
  margin-bottom: 0px;
  border: 1px solid transparent;
  border-radius: @alert-border-radius;

  /* Headings for larger alerts */
  h4 {
    margin-top: 0;
    color: inherit; // Specified for the h4 to prevent conflicts of changing @headings-color
  }

  /* Provide class for links that match alerts */
  .alert-link {
    font-weight: @alert-link-font-weight;
  }

  /* Improve alignment and spacing of inner content */
  > p,
  > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: 5px;
  }
}

/* Dismissible alerts

 Expand the right padding and account for the close button's positioning.

 The misspelled .alert-dismissable was deprecated in 3.2.0. */
.alert-dismissable,
.alert-dismissible {
  padding-right: (@alert-padding + 20);

  /* Adjust close link position */
  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
}

/* Alternate styles

 Generate contextual modifier classes for colorizing the alert. */

.alert-success {
  .alert-variant(@alert-success-bg; @alert-success-border; @alert-success-text);
}

.alert-info {
  .alert-variant(@alert-info-bg; @alert-info-border; @alert-info-text);
}

.alert-warning {
  .alert-variant(@alert-warning-bg; @alert-warning-border; @alert-warning-text);
}

.alert-danger {
  .alert-variant(@alert-danger-bg; @alert-danger-border; @alert-danger-text);
}



/* autocomplete messagerie + search */
.ui-menu img{
  width:38px;
  height:38px;
}
.ui-menu li span{
  font-size:1em;
  padding:0 0 10px 10px;
  margin:0 0 10px 0 !important;
  white-space:nowrap;
}
.alias_tweet_search
{
  color: #657786;
}
/* fin autocomplete */
.footer {

  width: 100%;
  height: 60px;
  background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}


.footer a
{
text-decoration: none;
color: #9d9d9d;
height : 10px;
}
/* form inscription */
#form_insc
{
  margin-top : 30px;

}
#form_insc input
{
  height : 50px;
  width: 70%;
}
.input_info {
  position: absolute;
  left: 100%;
  top: 0;
  background: #000;
  border: 1px solid #fff;
  color: #fff;
  width: 100px;
  display: none;
}

input[type="text"]:focus + .input_info {
  display: block;
}
/* page d'accueil */
.home
{
  margin-top: 27px;
  height : 100%;
  font-size : 20px;
  text-align: center;
}
.logintitle
{
  display: none;
}
.list_accueil
{
  list-style-type: none;
}
.list_accueil li
{
  padding : 10px;
  color : #657786;
    font-size : 15px;
}
/* editor */
#instatuxeditor
{
  width : 100%;
  padding : 3px;
  background-color : #C1EAE5;
}
#instatuxeditor a
{
  color : black;
}
#instatuxeditor_textarea
{
  width : 100%;
}
#preview
{
  display: none;
}
#previewpic
{
  display: none;
}
#etatnotifmodal
{
  width: 100%;
  line-height : 50px;
  font-weight: bold;
  text-align: center;
z-index : 999;
}
#etatnotifmodalpic
{
  width: 100%;
  line-height : 50px;
  font-weight: bold;
  text-align: center;
z-index : 999;
}
.ui-dialog { z-index: 10000 !important ;}
.list_aide
{
  list-style-type: none;
}
.list_aide img
{
  margin-right : 5px;
  margin-bottom: 15px;
}
.list_aide p
{
padding : 8px;
color : #657786;
}


/* fin editor */



/* mise en forme tweet */
.tweet
{
  padding : 6px ;
  color : black;
height: 100%;
background-color: white;
border: 1px solid #cecece;
}

.tweet >img
{
/* max-width: 100%;
  height: auto;*/
  height : 48px;
  width : 48px;
}

/* mise en forme tweet modal */

.tweetmodal
{
  padding : 4px ;
  color : black;
height: 100%;
background-color: white;

}
.tweetmodal .contenutweet
{
  font-size: 27px;
}

.tweetmodal >img
{
/* max-width: 100%;
  height: auto;*/
  height : 48px;
  width : 48px;
}
.date_tweet_modal
{
  color: #90949c;
}


/* fin mise en forme tweet modal */

.vcenter_left {
    display: inline-block;
    vertical-align: middle;
    margin-right : 10px;
    float: left;
    height : 48px;
  width : 48px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    margin-right : 4px;
}
.vcenter_right {
    display: inline-block;
    vertical-align: middle;
    margin-right : 10px;
    float: right;
    height : 48px;
  width : 48px;
}
.textarea_message
{
  width : 100%;
  border-radius: 5px;
}
.tweet a /* enlève le soulignement des liens */
{
text-decoration: none;

}
.link_username_tweet
{
text-decoration: none;
font-weight: bold;
color : black;
}
.commshare /* barre de nombre de comm et like sur les tweet*/
{

display: inline-block;
float: left;

}

.avatar_view
{
    height : 48px;
  width : 48px;
}

#notifmodalview
{
  width: 100%;
  line-height : 50px;
  font-weight: bold;
  text-align: center;
z-index : 999;
}

.deletetweet
{
  display: none;
}
.tweet:hover .deletetweet
{
  display: inline;
  float: right;

}
.alias_tweet
{
  color: #657786;
  margin-left: 6px;
}
/* abonnement */
.pagination
{
margin-top: 2px;
  margin-bottom: 5px;
}

.link_delete_abo
{

color : red!important;

}


.alias_abo
{
   color: #657786;
}

.liste_abo
{

margin-bottom: 12px;
width : 81px;
display: inline-block;
text-align: center;
}
.liste_abo img
{
    height : 78px;
  width : 78px;

}


textarea /* on empeche le redimensionnement d'un textarea par le navigateur */
{
  resize : none;
}
.surbrillance
{
	font-weight: bold;
}

/* commentaire */
.comm
{
      border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
}
.emoji_comm
{
  width: 25px ;
  height: 25px ;
}
.lien_emoji_comm
{
  width: 15px ;
  height: 15px ;
}

.textarea_comm
{

      border-radius: 12px;
    }

.avatarcomm {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}


.emoji-button
{
    position: relative;
  top : 25px;
  right : 5px;
  float: right;
}
.background_comm
{
  display: inline-block;
  width: 100%;
  background-color: #e1e2e3;

}

/* fin commentaire */
/* messagerie */
#new_message
{
  margin-top: -21px;
}
#new_message .form-group
{
  margin-bottom: 0px!important;
}

.messagemoi {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 6px;
   height: 100%;

}

.link_conv /* couleur de lien pour voir une conversation */
{
  color : #465150;
  display: block;
}

.other{

      border-color: #ccc;
    background-color: #ddd;


}

/* Clear floats */
.messagemoi::after {
    content: "";
    clear: both;
    display: table;
}
/* Style images */
.messagemoi img[alt="image utilisateur"] {

    max-width: 60px;
    width: 100%;
    margin-right: 10px;
    border-radius: 50%;
}



.datemessage
{
  color : grey;
  font-size: 12px;
  font-weight: bold;
  float: right;
  margin : 7px;
}

.date_message
{
  color : grey;
  font-size: 12px;
  font-weight: bold;
}
/* div etat connection + typing */

#etattype
{
  height: 25px;
  color : #046380;

}
/* fin div etat connection + typing*/

/* cell conversation */
.info_conv
{
  padding : 5px;

margin-left : 20px;
font-weight: bold;
}

.info_conv img
{
border-radius: 50%;
  height : 48px;
  width : 48px;
}

#etatco
{

  height: 15px;

font-weight: bold;
}
/* fin cell conversation */
/* fin messagerie */
/* notification */
.badge-notify{
   background:red;
    font-size: 10px;

  }
sup
{
      vertical-align: super;


}

/*span paramètre notification*/
label {
    line-height:35px;
    font-weight: 200;
}
#notifmessage, #notifcite, #notifpartage, #notifabo, #notifcomm
{
  float: right;
}
.grey
{
  color : #657786;
}


/* fin des span */

  .date_notif
  {
    float : right;
    margin-right : 5px;
  }
/* paragraphe de la notification ajax */

#etatnotif
{
  width: inherit;
  position: fixed;
  line-height : 50px;
  font-weight: bold;
  text-align: center;
z-index : 999;
}
#etatmessage
{
  width: inherit;
  line-height : 50px;
  font-weight: bold;
  text-align: center;
z-index : 999;
}

/* fin paragraphe */

/* cell notifi */

.statut_notif
{
  list-style-type: none;
}

.statut_notif li
{
    padding : 9px;
    font-size : 15px;
}

/*fin cell notif */


/* div notif non lu */

.notif_non_lu
{
  background-color: #F6E497;

  color : black;
margin-bottom: 12px;
border: 1px solid #cecece;
}

.notif_non_lu a /* enlève le soulignement des liens */
{
text-decoration: none;
}

.notif_non_lu img
{

    max-width: 60px;
    width: 100%;
    margin: 5px;
    border-radius: 50%;

}

.notif_non_lu:hover .deletetweet
{
  display: inline;
  float: right;
}

/*div notif lu */

.notif_lu
{
  background-color: white;


  color : black;
margin-bottom: 12px;
border: 1px solid #cecece;
}

.notif_lu a /* enlève le soulignement des liens */
{
text-decoration: none;
  color : #046380;
}
.notif_lu hr
{
  color: black;
}
.notif_link
{

  margin-left: 5px;

}
.notif_link a
{
  color: black;
}

.notif_lu img
{
   max-width: 60px;
    width: 100%;
    margin: 5px;
    border-radius: 50%;
}

/* fin div notif lu */

  /* fin notification

/* lien cell abonnement */
.message_profil
{
  text-decoration: none;
color : green;
}


#abosearch /* lien d'abonnement sur le moteur de recherche */
{
    float: right;
    margin-right: 3px;
    margin-top: 10px;
}
/* couleur abonnes, page abonnement*/

.abonnes
{
  font-size: small;
  color : #90949c;
}

/* fin couleur abonnes, page abonnement*/

/* mise en page like */

.liste_like
{

  margin-left: 15px;
  margin-bottom: 5px;

}


.likepic /* avatar like */
{
  height: 35px;
  width: 35px;
}
.btn_like /* bouton de follow, unfollow sur la view like */
{
  float: right;
}

/* fin mise en page like

/* listes des infos sur l'utilisateur*/
.list_media {
text-align: left;
margin-left: 25px;
}
.thumbmedia /* liste des media sprofil */
{

  width : 90px;
  height: 90px;
  padding : 2px;

}
.item-user
{
  list-style-type: none;
}
.item-user li
{
  padding : 12px;
  color : #657786;
  height: 60px;
  font-weight: bold;
}
.item-user a
{
  text-decoration: none;
  color: #657786;;
}
.disabled_link
{
    pointer-events: none;
  cursor: default;
}
.username
{
  font-weight: bold;
  font-size : 25px;
}
.alias
{
  font-size: 20px;
color: #657786;
}


/* fin listes des infos sur l'utilisateur*/
/* listes hashtag*/
.hashtag
{

  list-style-type: none;
}

.hashtag li
{
  padding : 9px;
  color : #657786;
  font-weight: bold;
}
/* fin listes hashtag*/
/*couleur glyphicon */
.green
{
  color : green;
}
.blue
{
  color: #4BB5C1;
  margin-left : 5px;
}
.blue_actu
{
    color: #4BB5C1;
}
.red
{
  color: red;
}

/* fin couleur glyphicon */
#textarea_message
{
  width : 100%;
}
/* couleur lien accepter abo */
.link_abo
{

  margin-top: 7px;


}

/* fin couleur lien accepter abo */
/* barre du nombre de commentaire ,de like et de partage */
.nb_comm_share
{
  float: right;
  color : #90949c;
}
.nb_like
{
    float: left;
  color : #90949c;
}

.link_comm_share a
{
  color : #484C4B;
font-weight: bold;
}

/* fin barre du nombre de commentaire, de like  et de partage */

/* liset suggestion cell */

.liste_suggestion
{
  list-style-type: none;


}
.liste_suggestion li
{
  margin-bottom: 10px;
}

.liste_suggestion img
{
/* max-width: 100%;
  height: auto;*/
  height : 48px;
  width : 48px;
}

/* fin liste suggestion cell */
/* inscription offline element */
.inscriptionoffline
{
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

/* fin inscription offline element */
/* settings */

/* formulaire settings */



#form_infos input
{

  padding : 20px;

}

/* lien deblocage settings */

#deleteblock /* lien d'abonnement sur le moteur de recherche */
{
    float: right;
    margin-right: 3px;
}
/*fin lien deblocage settings
/* fin settings */
/* media query */
@media screen and (min-width: 320px) and (max-width: 767px)
{
    body
  {
    overflow-x: hidden;
  }

.row-eq-height {

  flex-direction: column;
}

.container /* conteneur bootstrap general */
{
  border:none;
width: 100%;
}
.cover /* disparition de la photot de couverture */
{
  display: none;
}
.affix {
        position: static;
    }
  .btnlogin /* bouton de connexion centré */
  {
    display: block;
    margin: 0 auto;
    margin-top : 10px;
  }
  .logintitle /* affichage de la mention "connexion" */
  {
  display: block;
  color : white;
  margin-top : -10px;
  }
  .navbar-nav /* suppression des marges de la navbar*/
  {
  margin : 0;
  }
  /* réduction des marges du formulaire, reduction de la taille des input et la span help-block */
    .form-control
  {
    display: inline;
  }
  #form_insc
  {
  margin-top : 30px;
  margin-left : 25px;
  }
  #form_insc input
  {
    width : 95%;
  }
  .help-block
  {
    width : 90%;
  }



}
/* tablette en gros */
@media screen and (min-width: 768px) and (max-width: 991px)
{
.container
{
  width : 100%;
  border : none;
}
#search
{
  width : 118px;
}
.col-md-4
{
  position: absolute;
  top :910px;
}

  #form_insc
  {

  margin-left : 27px;
  }
  #form_insc input
  {
    width : 95%;
  }

#formco /* disparition du formulaire de connexion par défaut */
{
  display: none;
}

#btnco
{
  display: block;
    margin-top : 8px;
    margin-right : 5px;
}
#forgetmdp
{
  display: none;
}


  }