
body {
  /* Margin bottom by footer height */
  font-family: 'Athiti', serif;
  color : black;
  background-color: #DCDCDC;
  padding-top : 52px;
overflow-y:scroll;
}

.modal {
 overflow-y: auto;
}

.modal-open {
  overflow: inherit;
  padding-right: 0 !important;
}

/* tweet, comm, message */
/* image */

/* mise en forme tweet */
.tweet
{
  background-color: white;
  padding : 6px ;
  color : black;
margin-bottom: 12px;
}

.vcenter_left {
    display: inline-block;
    vertical-align: middle;
    margin-right : 10px;
    float: left;
    height : 48px;
  width : 48px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    margin-right : 4px;
}
.vcenter_right {
    display: inline-block;
    vertical-align: middle;
    margin-right : 10px;
    float: right;
    height : 48px;
  width : 48px;
}
.textarea_message
{
  width : 100%;
  border-radius: 5px;
}
.tweet a /* enlève le soulignement des liens */
{
text-decoration: none;

}
.link_username_tweet 
{
text-decoration: none;
font-weight: bold;
color : black;
}
.commshare /* barre de nombre de comm et like sur les tweet*/
{

display: inline-block;
float: left;

}
.tweet img
{
/* max-width: 100%;
  height: auto;*/
  height : 48px;
  width : 48px;
}

.deletetweet
{
  display: none;
}
.tweet:hover .deletetweet
{
  display: inline;
  float: right;

}
.alias_tweet
{
  color: #657786;
  margin-left: 6px;
}
/* abonnement */
.liste_abo
{
  list-style-type: none;
}
.liste_abo li
{
  padding: 6px;
  display: inline-block;
  text-align: center;
}
.alias_abo
{
   color: #657786;
}
.liste_abo img
{
    height : 78px;
  width : 78px;

}
.btn_abo
{
line-height: 5px;
}

textarea /* on empeche le redimensionnement d'un textarea par le navigateur */
{
  resize : none;
}
.surbrillance
{
	font-weight: bold;
}

/* messagerie */

/* Lien accueuil messagerie */

.messagemoi {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;

}

.other{

      border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.messagemoi::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.messagemoi img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.messagemoi img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}
.date_message
{
  color : grey;
  font-size: 12px;
  font-weight: bold;
}

/* notification */
  .badge_notif{
   background:#046380;
  }

  .date_notif
  {
    float : right;
    margin-right : 10px;
  }

/* div notif non lu */

.notif_non_lu
{
  background-color: #EFECCA;
  padding : 6px ;
  color : black;
margin-bottom: 12px;
}

.notif_non_lu a /* enlève le soulignement des liens */
{
text-decoration: none;
}

.notif_non_lu img
{
/* max-width: 100%;
  height: auto;*/
  height : 48px;
  width : 48px;
}

.notif_non_lu:hover .deletetweet
{
  display: inline;
  float: right;
}

  /* fin notification

/* lien cell abonnement */
.message_profil
{
  text-decoration: none;
color : green;
}
.message_delete_abo
{
    text-decoration: none;
color : red;
}
.message_add_abo
{
    text-decoration: none;
color : green;
}
.bouton_abo_search
{

    float: right;
    margin-top: 20px;
}

/* couleur abonnes, page abonnement*/

.abonnes
{
  font-size: small;
  color : #90949c;
}

/* fin couleur abonnes, page abonnement*/

.container
{
  padding: 0px;
}
/* listes des infos sur l'utilisateur*/

.item-user
{


  list-style-type: none;
}
.item-user li
{
  padding : 12px;
  color : #657786;
}

.username
{
  font-weight: bold;
  font-size : 25px;
}
.alias
{
  font-size: 20px;
color: #657786;
}


/* fin listes des infos sur l'utilisateur*/
/* listes hashtag*/
.hashtag
{
    margin-left: 19px;
  list-style-type: none;
}

.hashtag li
{
  padding : 9px;
  color : #657786;
  font-weight: bold;
}
/* fin listes hashtag*/
/*couleur glyphicon */
.green
{
  color : green;
}
.blue
{
  color: #4BB5C1;
  margin-left : 5px;
}
.blue_actu
{
    color: #4BB5C1;
}
.red
{
  color: red;
}
/* fin couleur glyphicon */
#textarea_message
{
  width : 100%;
}
/* couleur lien accepter abo */
.link_abo
{

  margin-top: 15px;


}
.accept-link
{
  color : green;

}
.refuse-link
{
  color : red;
}
/* fin couleur lien accepter abo */
/* barre du nombre de commentaire ,de like et de partage */
.nb_comm_share
{
  float: right;
  color : #90949c;
}
.nb_like
{
    float: left;
  color : #90949c;
}
.link_comm_share a
{
  color : #484C4B;
font-weight: bold;
}
/* fin barre du nombre de commentaire, de like  et de partage */